<div class="p-4">
  <div class="d-flex w-100 justify-content-center">
    <p>Select your places</p>
  </div>
  <div
    class="d-flex gap-1 align-items-center justify-content-center flex-column"
  >
    <div *ngFor="let seat of seats" class="gap-1 d-flex">
      <div
        *ngFor="let item of seat.seats"
        (click)="onSelectSeat(item.id)"
        class="d-flex justify-content-center align-items-center seat"
        [ngClass]="{
          seat__selected: selectedSeats.has(item.id),
          seat__disabled: item.reserved
        }"
      >
        {{ item.row }}.{{ item.number }}
      </div>
      <br />
    </div>
  </div>
  <div class="d-flex justify-content-end py-2">
    <button color="primary" mat-flat-button (click)="onPurchase()">
      Purchase
    </button>
  </div>
</div>
