@media only screen and (max-width: 600px) {
  img {
    display: none !important;
  }
}

.movie-card__rating {
  color: #3f51b5 !important;

  &:hover {
    text-decoration: underline !important;
  }
}
