<div class="w-100">
  <mat-card
    class="d-flex flex-row w-100 justify-content-between align-items-center px-4 py-2 ticket-card"
  >
    <div>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Movie: {{ ticket.Show.Movie.name }}</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <mat-card-subtitle>
          Theater: {{ ticket.Show.Theater.name }}
        </mat-card-subtitle>

        <mat-card-subtitle>
          Date: {{ getFormattedDate() }}. Time: {{ getFormattedTime() }}
        </mat-card-subtitle>

        <mat-card-subtitle>
          Place: row - {{ ticket.Seat.row }}; seat - {{ ticket.Seat.number }}
        </mat-card-subtitle>

        <mat-card-subtitle> Price: {{ ticket.Show.price }}€</mat-card-subtitle>
      </mat-card-content>
    </div>

    <div
      class="d-flex flex-column align-items-end justify-content-between gap-2"
    >
      <div class="pointer-event" (click)="showQRCode()">
        <img mat-card-sm-image src="assets/img.png" />
      </div>
      <button
        mat-flat-button
        color="accent"
        (click)="onReturnTicket(ticket.id)"
        [disabled]="isReturnable()"
      >
        Return
      </button>
    </div>
  </mat-card>
</div>
